<nav class="sidebar sidebar-sticky">
  <div class="sidebar-content">
    <a class="sidebar-brand" href="index.html">
      <i class="align-middle" data-feather="box"></i>
      <span class="align-middle">Administration</span>
    </a>

    <ul class="sidebar-nav">
    	<li class="sidebar-item">
        <%= link_to administration_index_path, class:"sidebar-link" do %> 
           <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        <% end %>
			</li>
      <li class="sidebar-header">
        Items
      </li>
      <li class="sidebar-item">
        <%= link_to administration_items_path, class:"sidebar-link" do %> 
            <i class="align-middle" data-feather="clipboard"></i> <span class="align-middle">View all</span>
        <% end %>
			</li>
      <li class="sidebar-item">
        <%= link_to new_administration_item_path, class:"sidebar-link" do %> 
            <i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Create</span>
        <% end %>
			</li>
      <li class="sidebar-header">
        Orders
      </li>
     <li class="sidebar-item">
        <%= link_to administration_orders_path, class:"sidebar-link" do %> 
            <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">View all</span>
        <% end %>
      </li>
    </ul>

  </div>
</nav>