<div id="flash" class="container-fluid">
<% if notice %>
	<div class="alert alert-success p-2 container">
		<%= notice %>
	</div>
<% elsif alert %>
	<div class="alert alert-danger p-2 container">
		<%= alert %>
	</div>
<% end %>
</div>
