<!-- MAIN WRAPPER -->
<div class="body-wrap shop-default shop-sportswear">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <!-- Header -->
                    <div class="header">
                        <!-- Top Bar -->
                        <!-- Global Search -->
                        <section id="sctGlobalSearch" class="global-search global-search-overlay">
                            <div class="container">
                                <div class="global-search-backdrop mask-dark--style-2"></div>
                                <!-- Search form -->
                                <form class="form-horizontal form-global-search z-depth-2-top" role="form">
                                    <div class="px-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <input type="text" class="search-input" placeholder="Type and hit enter ...">
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
                                </form>
                            </div>
                        </section>
                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-lg navbar--bold navbar--style-2 navbar-light bg-default  navbar--bb-1px">
                            <div class="container navbar-container">
                                <!-- Brand/Logo -->
                                <a class="navbar-brand" href="#">
                                    <h3>😈</h3>
                                </a>
                                <div class="d-inline-block">
                                    <!-- Navbar toggler  -->
                                    <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse align-items-center justify-content-center" id="navbar_main">
                                    <!-- Navbar search - For small resolutions -->
                                    <div class="navbar-search-widget b-xs-bottom py-3 d-lg-none d-none">
                                        <form class="" role="form">
                                            <div class="input-group input-group-lg">
                                                <input type="text" class="form-control" placeholder="Search for...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-base-3" type="button">Go!</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Navbar links -->
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Men
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-xl py-0 px-0 overflow--hidden" aria-labelledby="navbar_1_dropdown_1">
                                                <div class="list-group rounded">
                                                    <a href="../../pages-home.html" class="list-group-item list-group-item-action d-flex align-items-center">
                                                        <div class="list-group-content">
                                                            <div class="list-group-heading heading heading-6 mb-1">Home pages</div>
                                                            <p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                                                        </div>
                                                    </a>
                                                    <a href="../../pages-inner.html" class="list-group-item list-group-item-action d-flex align-items-center">
                                                        <div class="list-group-content">
                                                            <div class="list-group-heading heading heading-6 mb-1">Inner pages</div>
                                                            <p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Women
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-xl py-0 px-0 overflow--hidden" aria-labelledby="navbar_1_dropdown_1">
                                                <div class="list-group rounded">
                                                    <a href="../../pages-home.html" class="list-group-item list-group-item-action d-flex align-items-center">
                                                        <div class="list-group-content">
                                                            <div class="list-group-heading heading heading-6 mb-1">Home pages</div>
                                                            <p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                                                        </div>
                                                    </a>
                                                    <a href="../../pages-inner.html" class="list-group-item list-group-item-action d-flex align-items-center">
                                                        <div class="list-group-content">
                                                            <div class="list-group-heading heading heading-6 mb-1">Inner pages</div>
                                                            <p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="navbar-nav ml-lg-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class=" d-none d-lg-inline-block d-xl-inline-block">
                                    <ul class="navbar-nav ml-auto" data-hover="dropdown">
                                        <!-- Search button -->
                                        <li class="nav-item nav-item-icon hidden-md-down" data-toggle="global-search">
                                            <a href="#" class="nav-link">
                                                <span>
                                                </span>
                                            </a>
                                        </li>
                                        <!-- Bonhomme -->
                                        <li class="nav-item nav-item-icon">
                                            <a href="#" class="nav-link hidden-md-down" data-toggle="dropdown">
                                                <i class="fa fa-user"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu--right dropdown-form">
                                                <li>
                                                    <div class="dropdown-form-inner">
                                                        <div class="row align-items-center b-xs-bottom">
                                                            <div class="col-7">
                                                                <h3 class="heading heading-5 strong-400 text-capitalize pb-2">Sign in</h3>
                                                            </div>
                                                            <div class="col-5">
                                                                <a href="#" class="btn-close-dropdown" data-toggle="dropdown">&times;</a>
                                                            </div>
                                                        </div>
                                                        <div class="py-4">
                                                            <form class="form-default">
                                                                <div class="form-group">
                                                                    <input type="email" class="form-control form-control-lg" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="password" class="form-control form-control-lg" placeholder="Password">
                                                                </div>
                                                                <div class="form-group mb-0">
                                                                    <div class=" row align-items-center">
                                                                        <div class="col-6">
                                                                            <div class="checkbox">
                                                                                <input type="checkbox" id="chkRememberMe">
                                                                                <label for="chkRememberMe" class="no-margin">Remember me</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6 text-right">
                                                                            <button type="submit" class="btn btn-base-1 btn-circle">Sign in</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="text-center py-3 b-xs-top">
                                                    <a href="/users/sign_up">
                                                        Create a new account
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- Login try 2-->
                                        <li class="nav-item nav-item-icon">
                                            <% if user_signed_in? %>
                                            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                                            <% else %>
                                            <a href="#" class="nav-link hidden-md-down" data-toggle="dropdown">
                                                Sign in
                                            </a>
                                            <% end %>
                                            <ul class="dropdown-menu dropdown-menu--right dropdown-form">
                                                <li>
                                                    <div class="dropdown-form-inner">
                                                        <div class="row align-items-center b-xs-bottom">
                                                            <div class="col-7">
                                                                <h3 class="heading heading-5 strong-400 text-capitalize pb-2">Sign in</h3>
                                                            </div>
                                                            <div class="col-5">
                                                                <a href="#" class="btn-close-dropdown" data-toggle="dropdown">&times;</a>
                                                            </div>
                                                        </div>
                                                        <div class="py-4">
                                                            <form class="form-default">
                                                                <div class="form-group">
                                                                    <input type="email" class="form-control form-control-lg" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="password" class="form-control form-control-lg" placeholder="Password">
                                                                </div>
                                                                <div class="form-group mb-0">
                                                                    <div class=" row align-items-center">
                                                                        <div class="col-6">
                                                                            <div class="checkbox">
                                                                                <input type="checkbox" id="chkRememberMe">
                                                                                <label for="chkRememberMe" class="no-margin">Remember me</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6 text-right">
                                                                            <button type="submit" class="btn btn-base-1 btn-circle">Sign in</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="text-center py-3 b-xs-top">
                                                    <a href="/users/sign_up">
                                                        Create a new account
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- Cart -->
                                        <li class="nav-item nav-item-icon dropdown">
                                            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-shopping-bag"></i>
                                                <sup class="badge bg-base-1"><%=@current_cart.all_items%></sup>
                                            </a>
                                            <% if user_signed_in? %>
                                            <%= render "shared/cart" %>
                                            <% end %>
                                        </li>                                

                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
