<!-- Slider -->
<section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset=".navbar">
    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0">
        <div class="swiper-wrapper img-fluid">
            <div class="swiper-slide" data-swiper-autoplay="5000">
                <div class="holder-item has-bg-cover bg-size-cover">
                    <div class="container d-flex align-items-center no-padding">
                        <div class="col">
                            <div class="row cols-xs-space align-items-center py-5 text-center text-md-left">
                                <div class="col-12 col-md-7 col-lg-5">
                                    <h2 class="heading heading-1 strong-600 c-white animated" data-animation-in="zoomIn" data-animation-delay="200">
                                        No progress without <span class="c-base-1">change</span>
                                    </h1>
                                    <p class="lead mt-3 c-gray-light animated" data-animation-in="fadeInUpBig" data-animation-delay="700">
                                        Running is the best way to follow your dream. Check out the new collection for men sportwear.
                                    </p>
                                    <ul class="inline-links inline-links--style-3 mt-4 animated" data-animation-in="fadeInUpBig" data-animation-delay="1200">
                                        <li>
                                            <a href="#" class="text-uppercase">
                                                Tops
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-uppercase">
                                                Bottoms
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-uppercase">
                                                Shoes
                                            </a>
                                        </li>
                                    </ul>
                                    <span class="clearfix"></span>
                                    <a href="#" class="btn btn-styled btn-base-1 mt-5 animated" data-animation-in="fadeInUpBig" data-animation-delay="1700" data-scroll-to="#sctScrollToSection">Shop now</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

                    <section class="slice sct-color-1 border-top">
                        <div class="container">
                            <div class="section-title section-title--style-1 mb-3">
                                <h3 class="section-title-inner heading-4 strong-600 text-capitalize">
                                    <span>Featured</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-md-6">
                                    <div class="block block-image-holder">
                                        <div class="block-image text-center">
                                            <a href="#">
                                              <%= image_tag("photo5", {:style => "height:300px;"}) %>
                                            </a>
                                        </div>
                                        <div class="block-body text-center">
                                            <h3 class="heading heading-4 strong-800 text-capitalize">Men</h3>
                                            <p>
                                                Easy on and off for medium-impact workouts like running and spin.
                                            </p>
                                            <a href="#" class="btn btn-styled btn-gray-dark px-4 text-uppercase strong-600 text-sm mt-4">Show now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="block block-image-holder">
                                        <div class="block-image text-center">
                                            <a href="#">
                                              <%= image_tag("photo4", {:style => "height:300px;"}) %>
                                            </a>
                                        </div>
                                        <div class="block-body text-center">
                                            <h3 class="heading heading-4 strong-800 text-capitalize">Women</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipiscing.
                                            </p>
                                            <a href="#" class="btn btn-styled btn-gray-dark px-4 text-uppercase strong-600 text-sm mt-4">Show now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
