<!-- Slider -->
<section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset=".navbar">
    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-swiper-autoplay="5000">
                <div class="holder-item has-bg-cover bg-size-cover">
                    <div class="container d-flex align-items-center no-padding">
                        <div class="col">
                            <div class="row cols-xs-space align-items-center py-5 text-center text-md-left">
                                <div class="col-12 col-md-7 col-lg-5">
                                    <h2 class="heading heading-1 strong-600 c-white animated" data-animation-in="zoomIn" data-animation-delay="200">
                                        No progress without <span class="c-base-1">change</span>
                                    </h1>
                                    <p class="lead mt-3 c-gray-light animated" data-animation-in="fadeInUpBig" data-animation-delay="700">
                                        Running is the best way to follow your dream. Check out the new collection for men sportwear.
                                    </p>
                                    <ul class="inline-links inline-links--style-3 mt-4 animated" data-animation-in="fadeInUpBig" data-animation-delay="1200">
                                        <li>
                                            <a href="#" class="text-uppercase">
                                                Tops
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-uppercase">
                                                Bottoms
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-uppercase">
                                                Shoes
                                            </a>
                                        </li>
                                    </ul>
                                    <span class="clearfix"></span>
                                    <a href="#" class="btn btn-styled btn-base-1 mt-5 animated" data-animation-in="fadeInUpBig" data-animation-delay="1700" data-scroll-to="#sctScrollToSection">Shop now</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

                    <section class="slice sct-color-1 border-top">
                        <div class="container">
                            <div class="section-title section-title--style-1 mb-3">
                                <h3 class="section-title-inner heading-4 strong-600 text-capitalize">
                                    <span>Featured</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-md-6">
                                    <div class="block block-image-holder">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="#">
                                            </a>
                                        </div>
                                        <div class="block-body text-center">
                                            <h3 class="heading heading-4 strong-800 text-capitalize">Men</h3>
                                            <p>
                                                Easy on and off for medium-impact workouts like running and spin.
                                            </p>
                                            <a href="#" class="btn btn-styled btn-gray-dark px-4 text-uppercase strong-600 text-sm mt-4">Show now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="block block-image-holder">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="#">
                                            </a>
                                        </div>
                                        <div class="block-body text-center">
                                            <h3 class="heading heading-4 strong-800 text-capitalize">Women</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipiscing.
                                            </p>
                                            <a href="#" class="btn btn-styled btn-gray-dark px-4 text-uppercase strong-600 text-sm mt-4">Show now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice pt-0 sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 mb-3">
                                <h3 class="section-title-inner heading-4 strong-600 text-normal">
                                    <span>Shop by Category</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="#">
                                            </a>
                                        </div>
                                        <div class="card-body--overlay d-flex align-items-center justify-content-center">
                                            <div class="col">
                                                <div class="px-4 py-4 text-center">
                                                    <h3 class="heading heading-inverse heading-4 strong-600 text-capitalize mb-0">
                                                        <a href="#">
                                                            Tops &amp; Bras
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="#">
                                            </a>
                                        </div>
                                        <div class="card-body--overlay d-flex align-items-center justify-content-center">
                                            <div class="col">
                                                <div class="px-4 py-4 text-center">
                                                    <h3 class="heading heading-inverse heading-4 strong-600 text-capitalize mb-0">
                                                        <a href="#">
                                                            Accessories
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="#">
                                            </a>
                                        </div>
                                        <div class="card-body--overlay d-flex align-items-center justify-content-center">
                                            <div class="col">
                                                <div class="px-4 py-4 text-center">
                                                    <h3 class="heading heading-inverse heading-4 strong-600 text-capitalize mb-0">
                                                        <a href="#">
                                                            Sports stuff
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="row align-items-center mb-5">
                                <div class="col-md-6">
                                    <div class="text-center text-md-left">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            Featured products
                                        </h3>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="text-center text-md-right">
                                        <ul class="inline-links">
                                            <li>
                                                <a href="#" class="active">All</a>
                                            </li>
                                            <li>
                                                <a href="#">Sofas</a>
                                            </li>
                                            <li>
                                                <a href="#">Chairs</a>
                                            </li>
                                            <li>
                                                <a href="#">Decorations</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row-wrapper">
                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="#" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's running shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">120.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="#" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-red text-uppercase">Sale</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's short top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-orange"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">
                                                        $<span class="price-value">45.00</span>
                                                        <small class="c-red">(20% off)</small>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="#" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-red"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">180.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="#" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-blue"></a>
                                                        <a href="#" class="bg-teal-blue"></a>
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-green"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">55.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="#" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's running shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">120.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="#" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's short top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-orange"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">
                                                        $<span class="price-value">45.00</span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="#" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-red text-uppercase">Sale</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-red"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">
                                                        $<span class="price-value">180.00</span>
                                                        <small class="c-red">(20% off)</small>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="#" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-blue"></a>
                                                        <a href="#" class="bg-teal-blue"></a>
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-green"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">55.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>