/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require custom-style
 *= require boomerang.min
 *= require bootstrap.min
 *= require animate.min
 *= require hamburgers.min
 *= require jquery.fancybox.min
 *= require swiper.min
 *= require_self
 */

#welcome{
		height: 70vh;
		background-image: url("img-33.jpg");
		background-position: top;
		background-size: cover;
		box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.66);
}

#men{
		height: 250px;
		background-image: url("photo4.jpeg");
		background-size: cover;
		background-position: bottom;
		box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.66);
		
}

#women{
		height: 250px;
		background-image: url("photo5.jpeg");
		background-size: cover;
		background-position: bottom;
		box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.66);
		
}

.mt-5{
	margin-top: 90px !important;
}

 #image_id{
 		height: 100px;
 }

.bg-minimalist {
  	background-color: #fff !important;
}

